@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron">
    <h1>LINCOLN'S FAVORITE PIZZA</h1>
    <p class="lead">We serve pizza in Lincoln, Nebraska. We can’t wait to feed you!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">ORDER ONLINE &raquo;</a></p>
</div>
<br />
<h2><strong>ORDER ONLINE NOW, QUICKLY & EASILY</strong></h2>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="menu-container">
            <img src="~/images/cheese.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-top-left">
                <h3>CHEESE PIZZA</h3>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="menu-container">
            <img src="~/images/hamburger.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-top-right">
                <h3>HAMBURGER PIZZA</h3>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="menu-container">
            <img src="~/images/pepperoni.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-btm-left">
                <h3>PEPPERONI PIZZA</h3>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="menu-container">
            <img src="~/images/all-meat-special.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle-btm-right">
                <h3>ALL MEAT PIZZA</h3>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">ORDER ONLINE &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="newsletter-img">
        <form action="" class="newsletter-container">
            <h3>Sign up for our newsletter</h3><br />

            <label for="email"><b>Email</b></label><br />
            <input type="text" placeholder="Enter Email" name="email" required>
            <br />
            <label for="psw"><b>Password</b></label><br />
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit" class="btn">SIGN UP NOW</button>
        </form>
    </div>
</div>
